.login {
  height: 100vh;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.login .loginWrapper {
  width: 500px;
}
.login .title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
