.footer {
  text-align: center;
  line-height: 30px;
  color: #b0aeae;
  font-size: 14px;
}
.footer :global(a) {
  color: #b0aeae;
}
.footer :global(a):hover {
  color: #1677ff;
}
.footer :global(.gutter) {
  margin: 0 10px;
}
