.content {
  background-color: var(--dark-home-bg-color);
  padding: 15px;
  overflow: auto;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .wrapper {
  min-height: calc(100vh - 170px);
}
