.content {
  background-color: var(--dark-home-bg-color);
  padding: 15px 15px 0;
  overflow: auto;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .wrapper {
  flex: 1;
  overflow: hidden;
}
